---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;
figcaption {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  padding: 1rem;
}

table {
  // width: 100% 로 바꿔보세요
  width: auto;
}